.demo-table {
    width: 100%;
    align-self: auto;
    align-content: left;
    text-align: left;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }